* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body, table, select, input {
  font-family: helvetica, arial, sans-serif;
  font-weight: 100;
  font-size: .9em;
}

ul {
  list-style-type: none;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

select:focus, input:focus {
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hidden, .filter-hidden {
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  box-shadow: none !important;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.5s, margin 0.5s, padding 0.5s, height 0.5s;
}

.kanban-anchor {
  width: 100%;
  height: 60em;
  overflow: scroll;
}

body > footer {
  text-align: center;
  padding-top: 1.5em;
  height: 6em;
  color: #ddd;
  border-top: 1px solid #ddd;
}

.trintech-kanban .column-container {
  background-color: #ddd;
  display: flex;
  justify-content: space-around;
  min-height: 100%;
}

.kanban-titlebar {
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
}

.kanban-titlebar .title {
  font-size: 2em;
  margin-left: .5em;
}

.kanban-titlebar .search {
  border: 1px solid #ccc;
  height: 2.3em;
  width: 30%;
  display: flex;
  margin-right: .5em;
  border-radius: .3em;
  position: relative;
}

.kanban-titlebar .search select {
  flex-grow: 1;
  border: none;
  padding: .3em;
  border-radius: .3em 0 .0 .3em;
  border-right: 1px solid #ddd;
  cursor: pointer;
}

.kanban-titlebar .search .caret {
  position: relative;
  display: flex;
  align-items: center;
}

.kanban-titlebar .search .caret i {
  position: absolute;
  left: -1em;
  font-size: 1.5em;
}

.kanban-titlebar .search input {
  flex-grow: 6;
  border: none;
  border-radius: 0 .3em .3em 0;
  padding: 0 1em;
}

.kanban-titlebar .search input[disabled] {
  display: none;
}

.kanban-titlebar .search .type-ahead {
  background-color: rgb(250, 250, 250);
  position: absolute;
  width: 30%;
  margin: 0;
  padding: 0;
  top: 3em;
  border: 1px solid #ddd;
  z-index: 2;
}

.kanban-titlebar .search li {
  padding: .5em;
}

.kanban-titlebar .search li:hover {
  background-color: #eee;
}

.trintech-kanban .filter-dock {
  height: 3em;
  position: relative;
  background-color: #ddd;
}

.trintech-kanban .filter-dock .filter-set {
  display: flex;
}

.trintech-kanban .filter-dock .filter {
  background-color: rgb(245, 245, 245);
  padding: .5em;
}

.trintech-kanban .filter-dock .filter + .filter {
  margin-left: .3em;
}

.trintech-kanban .filter-dock .filter:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.trintech-kanban .filter-dock .filter input:hover {
  cursor: pointer;
}

.trintech-kanban .filter-dock .filter > p {
  display: inline;
  margin-left: .3em;
  pointer-events: none;
}

.trintech-kanban .title {
  font-size: 1em;
  font-weight: 900;
}

.trintech-kanban .column {
  display: inline-block;
  margin: 0.4em;
  border-radius: 4px;
  background-color: #f5f5f5;
  vertical-align: top;
  flex-grow: 1;
  width: 33%;
}

.trintech-kanban .column + .column {
  margin: 0.4em 0.4em 0.4em 0;
}

.trintech-kanban .column.collapse {
  width: 4%;
  flex-grow: 0;
  background-color: #3498db;
}

.trintech-kanban .column.collapse .issue-column {
  display: none;
}

.trintech-kanban .column.collapse > header {
  height: 100%;
  border-radius: 4px;
  flex-direction: column;
}

.trintech-kanban .column.collapse .min-max{
  display: none;
}

.trintech-kanban .column.collapse .title {
  writing-mode: vertical-lr;
}

.trintech-kanban .column.collapse .filter-bar {
  display: none;
}

.trintech-kanban .column:hover:not(.collapse) .min-max {
  color: rgb(250, 250, 250);
}

.trintech-kanban .column > header {
  padding: 0.5em;
  font-size: 1.2em;
  border-radius: 4px 4px 0 0;
  background-color: #3498db;
  color: rgb(250, 250, 250);
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.trintech-kanban .column > header:hover {
  cursor: pointer;
}

.trintech-kanban .min-max {
  position: relative;
  font-size: 1.5em;
  font-weight: 900;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  text-align: center;
  color: rgba(0, 0, 0, 0);
}

.trintech-kanban .min-max:hover {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.trintech-kanban .column header:hover .min-max:hover {
  color: rgba(77, 164, 221, 1);
}

.trintech-kanban .min-max:before {
  content: ">";
  position: absolute;
  left: 9px;
}

.trintech-kanban .card {
  margin: 0.5em 0.5em 0 0.5em;
  border-radius: 0.5em;
  border-right: none;
  background-color: rgb(250, 250, 250);
  border: 1px solid #eee;
  box-shadow: 5px 5px 6px #eee;
  display: flex;
  align-content: stretch;
}

.trintech-kanban .card main {
  padding: 0 .5em 0.3em 0.5em;
  width: 100%;
}

.trintech-kanban .card + .card {
  margin: 8px;
}

.trintech-kanban .card:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
}

.trintech-kanban .card:not(:hover) .row:not(.summary) {
  display: none;
}

.trintech-kanban .card header {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.trintech-kanban .card header .name {
  font-size: .8em;
  font-weight: bold;
  font-family: verdana;
  margin-bottom: .2em;
  color: #006060;
}

.trintech-kanban .card header .issue-id {
  font-size: .95em;
  font-weight: bold;
  font-family: monospace;
  color: #707070;
}

.trintech-kanban .card > aside {
  width: 1em;
  border-radius: .5em 0 0 0.5em;
  background-color: #00a5a5;
}

.trintech-kanban .card > aside.critical {
  width: 1em;
  background-color: #fc5050;
}

.trintech-kanban .card .assignee {
  border-radius: .3em;
  padding: 0.3em;
  margin-right: .5em;
}

.trintech-kanban .card .row {
  margin-bottom: 0.1em;
}

.trintech-kanban .card .label {
  width: 30%;
  display: inline-block;
  font-size: .75em;
  font-weight: bold;
  font-family: verdana;
}

.trintech-kanban .card .row-value {
  display: inline-block;
  font-size: .75em;
  font-family: verdana;
}

.trintech-kanban .card .past-due {
  color: red;
}

.trintech-kanban .card .tag {
    color: white;
    padding: 3 8;
    float: right;
    font-size: .7em;
    font-family: verdana;
    font-weight: bold;
    border-radius: 4px;
    margin: 0 2px;
}

.trintech-kanban .card .preparer {
    background-color: #3875d8;
}

.trintech-kanban .card .reviewer {
    background-color: #2d9364;
}

.trintech-kanban .card .approver {
    background-color: #963aad;
}

.trintech-kanban .card .proxy {
    background-color: #664d0a;
}

.trintech-kanban .card .in-review {
    background-color: #37d8c2;
}

.trintech-kanban .card .in-approval {
    background-color: #d36aed;
}

.trintech-kanban .card .in-proxy {
    background-color: #a07911;
}

.trintech-kanban .card .completed {
    background-color: #45a046;
    font-size: 1.3em;
    padding: 0 .1em;
    line-height: 1.1em;
}

.trintech-kanban .card .cancelled {
    background-color: #a0292f;
    font-size: 1.3em;
    padding: 0 .1em;
    line-height: 1.1em;
}

.trintech-kanban .card .can-reopen {
    background-color: #3479c9;
    font-size: 1.3em;
    padding: 0 .1em;
    line-height: 1.1em;
}


.trintech-kanban-modal:not(.active) {
  display: none;
}

.trintech-kanban-modal {
  position: absolute;
  height: 95%;
  width: 95%;
  padding: 2em;
  background-color: rgb(250, 250, 250);
  margin: auto;
  position: absolute;
  top: -30px;
  transition: top 0.2s;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 0.5em;
}

.trintech-kanban-modal.active {
  top: 0;
}

.trintech-kanban-modal > iframe {
  width: 100%;
  height: 100%;
  border: none;
  opacity: 0;
  transition: opacity 1s;
}

.trintech-kanban-modal > iframe.ready {
  opacity: 1;
}

.trintech-kanban-shield {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.2s;
  z-index: -1;
}

.trintech-kanban-shield.active {
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
