<html>
  <head>
    <title>Trintech Kanban</title>
    <!-- Library Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/app.css">
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/site/favicon.ico" />
    
  </head>
  <body>
    <img src="/public/images/site/header.png" width="100%">
    <div class="kanban-anchor"></div>
    <footer>Copyright &copy; 1998-2017 Trintech. All Rights Reserved.</footer>
    <script src="https://cdn.jsdelivr.net/npm/superagent@3.5.2/superagent.js"></script>
    <script src="/public/searcher.js"></script>
    <script src="/public/asyncJobQueue.js"></script>
    <script src="/public/kanban.js"></script>
    <!-- Your Code Here -->
    <script>
      const kanbanRoot = document.querySelectorAll('.kanban-anchor')[0];
      const httpClient = window.superagent;

      httpClient
        // Your API call here
        .get('/public/data.json')
        .set('Accept', 'application/json')
        .end((error, response) => {
          if (error) {
            throw error;
          }
          const issues = response.body;
          window.kanban(
            kanbanRoot, 
            issues, 
            window.searcher, 
            window.jobQueue);
        });
    </script>
  </body>
</html>